.body
{
	background:#000;
}
.statusBar
{
	margin-left:1%;
	position:fixed;
	width:20%;
	color:#fff;
	font-size:24px;
	font-family:DPix_8pt;
	word-break:break-all;
}
.timer
{
	text-align:right;
	margin-right:1%;
	right:0;
	position:absolute;
	width:20%;
	color:#fff;
	font-size:24px;
	font-family:DPix_8pt;
	word-break:break-all;
}
.game canvas
{
	margin-left:25%;
	width:50%;
	height:100%;
	display: block;
	position:absolute;
	left:0;
	top:0;
}

.menu
{
	padding-top:5%;
	padding-bottom:5%;
	min-height:40%;
	width:40%;
	
	text-align:center;
	background:#fff;
	
	position:fixed;
	top:20%;
	left:30%;
	right:30%;
	
	z-index:1;
	
}
.menu input
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:10%;
	margin-bottom:1%;
	font-family:DPix_8pt;
}
.finish
{
	padding-top:5%;
	padding-bottom:5%;
	min-height:40%;
	width:40%;
	
	text-align:center;
	background:#fff;
	
	position:fixed;
	top:20%;
	left:30%;
	right:30%;
	
	z-index:1;
	display:none;
}
.finish input
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:10%;
	margin-bottom:1%;
	font-family:DPix_8pt;
}
.help
{
	padding-top:3%;
	padding-bottom:3%;
	min-height:40%;
	width:40%;
	
	text-align:center;
	background:#fff;
	
	position:fixed;
	top:20%;
	left:30%;
	right:30%;
	
	z-index:2;
	
	display:none;
}
.help input
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:10%;
	margin-bottom:1%;
	font-family:DPix_8pt;
}
